In [1]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()
df.to_csv('자전거이용정보.csv')

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6
...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,정기권,M,60대,1,32.92,0.30,1279.01,37
678946,2021-06-14,23,2331,정기권,M,60대,1,11.88,0.09,400.00,4
678947,2021-06-14,23,722,정기권,M,60대,1,53.28,0.48,2070.00,20
678948,2021-06-14,23,3787,정기권,M,70대~,1,121.25,1.18,5103.30,86
678949,2021-06-14,23,1911,정기권,M,70대~,1,42.18,0.38,1638.70,28

In [4]:
df.set_index('대여소번호').sort_index()

             대여일자  대여시간 대여구분코드 성별 연령대코드  이용건수     운동량   탄소량     이동거리  사용시간
대여소번호
3      2021-06-08    13    일일권  F   30대     1   11.23  0.12   506.18    17
3      2021-06-01    16    정기권  M   50대     1    0.00  0.00     0.00    12
102    2021-06-01    17    정기권  M   30대     2  123.51  1.03  4445.13    85
102    2021-06-01     4    정기권  F   50대     1   22.13  0.19   810.00     5
102    2021-06-14    17    정기권  F   30대     1  113.18  1.33  5716.25    48
...           ...   ...    ... ..   ...   ...     ...   ...      ...   ...
9999   2021-06-04    15    정기권  F   40대     1   29.24  0.33  1420.00     4
88888  2021-06-03     9    정기권  M   20대     1  158.76  1.43  6167.88    48
88888  2021-06-05    18    정기권  F   20대     1    0.00  0.00     0.00     9
88888  2021-06-10    11    정기권  M   20대     1   60.17  0.54  2337.71    31
99997  2021-06-03     9    일일권  M   50대     1      \N    \N     0.00     4

[678950 rows x 10 columns]

## 1. 대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라

## 2. 각 일자의 요일을 표기하고 (‘Monday’ ~’Sunday’) ‘day_name’컬럼을 추가하고 이를 이용하여 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력하라

## 3. 각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터 프레임으로 출력하라

## 4. 나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 가지는 나이대를 확인하라. 일일권의 경우 일일권 과 일일권(비회원)을 모두 포함하라

## 5. 연령대별 평균 이동거리를 구하여라

## 6. 연령대 코드가 20대인 데이터를 추출하고,이동거리값이 추출한 데이터의 이동거리값의 평균 이상인 데이터를 추출한다.최종 추출된 데이터를 대여일자, 대여소 번호 순서로 내림차순 정렬 후 1행부터 200행까지의 탄소량의 평균을 소숫점 3째 자리까지 구하여라

## 7. 6월 7일 ~10대의 “이용건수”의 중앙값은?

## 8. 평일 (월~금) 출근 시간대(오전 6,7,8시)의 대여소별 이용 횟수를 구해서 데이터 프레임 형태로 표현한 후 각 대여시간별 이용 횟수의 상위 3개 대여소와 이용횟수를 출력하라

## 9. 이동거리의 평균 이상의 이동거리 값을 가지는 데이터를 추출하여 추출데이터의 이동거리의 표본표준편차 값을 구하여라

## 10. 남성(‘M’ or ‘m’)과 여성(‘F’ or ‘f’)의 이동거리값의 평균값을 구하여라